<!DOCTYPE html>
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" type="image/png" sizes="16x16" href="http://localhost:8080/bris/assets/demo/favicon.png">
    
    <title>ড্যাশবোর্ড</title>
    
    <link href="dashboard_files/morris.css" rel="stylesheet" type="text/css">
	<link href="dashboard_files/sweetalert2.css" rel="stylesheet" type="text/css">
	<link href="dashboard_files/perfect-scrollbar.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="dashboard_files/material-icons.css">
	<link rel="stylesheet" type="text/css" href="dashboard_files/style.css">
	<link rel="stylesheet" type="text/css" href="dashboard_files/customStyle.css"> 
	
	<link rel="stylesheet" id="font-poppins-css-css" href="dashboard_files/css.css" type="text/css" media="all">


    <link href="dashboard_files/daterangepicker.css" rel="stylesheet" type="text/css">
    <link href="dashboard_files/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
    
    <link href="dashboard_files/font-awesome.css" rel="stylesheet" type="text/css">
    
    <link href="dashboard_files/jquery.css" rel="stylesheet" type="text/css">

    
    
     
<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>	

<body class="header-light sidebar-dark sidebar-collapse">
 
    <div id="wrapper" class="wrapper">
    
        <!-- HEADER & TOP NAVIGATION -->
		<nav class="navbar">
            <!-- Logo Area -->
            <div class="navbar-header">
                <a class="navbar-brand" style="background-color:#ffffff !important;" href="http://localhost:8080/bris/admin/">
                    <img class="logo-expand" alt="" src="dashboard_files/logo.png" width="60" height="60">
                    <img class="logo-collapse" alt="" src="dashboard_files/logo.png" width="60" height="60">
                </a>
            </div>
            
            <!-- /.navbar-header -->
            <!-- Left Menu & Sidebar Toggle -->
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle"><a href="javascript:void(0)" class="ripple"><i class="material-icons list-icon">menu</i></a>
                </li>
            </ul>
            <!-- /.navbar-left -->
            <div class="spacer"></div>

			

			<div style="margin: 15px;">
				<div>
					<label>অন্যান্য অফিসে লগইন</label>
				</div>

				<select class="form-control" id="changeOffice">
					<option value="#" selected="selected">---Select---</option>
					
					<option value="1010">মির্জাপুর ইউনিয়ন পরিষদ</option>
					<option value="20">চাঁচড়া ইউনিয়ন পরিষদ</option>
					<option value="1075">সনমানিয়া ইউনিয়ন পরিষদ </option>
				</select>
			</div>

	        <div class="d-none d-md-flex flex-column" style="padding-top: 10px;">
	        
	            <div>
	          		<span style="font-size: 20px; color:#55acee;">মোঃ জামিল উদ্দিন</span>
	          		
	          	</div>
	            
	            <div>
	            	<span>চেয়ারম্যান</span>
	            	
	            </div>
	            
	            
	            
	            <div>
	            	<span>হৈবতপুর ইউনিয়ন পরিষদ</span>
	            	
	            </div>
	            
	            

            </div>
            <!--<ul class="nav navbar-nav d-none d-lg-block">
                <li>
                	<a href="javascript:void(0);" class="right-sidebar-toggle ripple">
                		<i class="material-icons list-icon">comment</i>
                	</a>
                </li>
          	</ul>-->
            
            <ul class="nav navbar-nav">
            
                <li class="dropdown">
                	
                	<a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
	                	<span class="avatar thumb-sm">
	                		<img class="rounded-circle" alt="" src="dashboard_files/1.jpg">
	                		<i class="material-icons list-icon">expand_more</i>
	                	</span>
                	</a>
                	
                    <div class="dropdown-menu dropdown-left dropdown-card dropdown-card-wide dropdown-card-dark text-inverse">
                        <div class="card">
                            <header class="card-heading-extra">

								<div class="row">
									<div class="col-5 d-flex">
										
										<span>ব্যালেন্সঃ </span>
									</div>
								</div>
                                <div class="row">

									<div class="col-9 d-flex">
										<div class="col-12">

											<div class="row">
												<div class="col-6 d-flex">
													<a class="mr-t-10" href="http://localhost:8080/bris/admin/user/change-password">
														<i class="material-icons">vpn_key</i>
														<span>পাসওয়ার্ড পরিবর্তন</span>
													</a>
												</div>

												<div class="col-6 d-flex">
													<a class="mr-t-10" href="http://localhost:8080/bris/admin/user/chalan/upload">
														<i class="material-icons">attach_money</i>
														<span>চালান জমা দিন</span>
													</a>
												</div>

												<div class="col-5 d-flex">
													<a class="mr-t-10" href="http://localhost:8080/bris/admin/user/log/1">
														<i class="material-icons">event_note</i>
														<span>লগ</span>
													</a>
												</div>

												<div class="col-7 d-flex">
													<a class="mr-t-10" href="http://localhost:8080/bris/admin/user/chalan/1">
														<i class="material-icons">format_list_numbered</i>
														<span>আপলোডকৃত চালানের তালিকা</span>
													</a>
												</div>
											</div>

										</div>
									</div>

                                    <div class="col-3 d-flex justify-content-end">
                                    	<a class="mr-t-10" href="http://localhost:8080/bris/logout">
                                    		<i class="material-icons">power_settings_new</i>
                                    		<span>লগ আউট</span> 
                                    	</a>
                                    </div>
                                    <!-- /.col-4 -->
                                </div>
                                <!-- /.row -->
                            </header>
                            <section class="card-header text-inverse">
                            	<span>নতুন নোটিফিকেশন </span> 
                            	<span class="badge badge-border badge-border-inverted bg-danger mr-l-10">0</span>
                            </section>
                            
                            <!--
                            <ul class="list-unstyled dropdown-list-group">
                                
                                <li>
                                	<a href="#" class="media">
                                		<span class="d-flex"><i class="material-icons list-icon">check</i> </span>
                                		<span class="media-body">
                                			<span class="media-heading" th:text="${}">জন্ম নিবন্ধনের আবেদনপত্র</span> 
	                                		<small>10.14.2016 @ 2:30pm</small> 
	                                		<span class="media-content">নতুন আবেদনপত্র গ্রহন করুন</span>
                                		</span>
                                	</a>
                                </li>
                                <li><a href="#" class="media"><span class="d-flex thumb-xs"><img th:src="@{/images/users/default.jpg}" class="rounded-circle" alt=""></img> </span><span class="media-body"><span class="media-heading">করিম উদ্দিন</span> <small>10.14.2016 @ 2:30pm</small> <span class="media-content"> আপডেটের কাজ শেষ হয়েছে</span></span></a>
                                </li>
                                <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">check</i> </span><span class="media-body"><span class="media-heading">মৃত্যু নিবন্ধনের আবেদনপত্র</span> <small>10.14.2016 @ 2:30pm</small> <span class="media-content">নতুন আবেদনপত্র গ্রহন করুন</span></span></a>
                                </li>
                                <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">check</i> </span><span class="media-body"><span class="media-heading">আমন্ত্রন</span> <small>10.14.2016 @ 2:30pm</small> <span class="media-content">আপনার আমন্ত্রনপত্র গৃহীত হয়েছে</span></span></a>
                                </li>
                                
                            </ul>
                            -->
                            
                            <ul class="list-unstyled dropdown-list-group ps ps--theme_default" data-ps-id="9fcfcaa9-4aa9-42f9-8003-8fe4e353fead">
   								
							<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul> 
                            
                        </div>
    				</div>
    			</li>
    		</ul>
            
	    	<!-- /.navbar-right -->
	    </nav>
    	<!-- /.navbar -->
    	
	    <div class="content-wrapper"> 
	        <!-- SIDEBAR -->
			<aside class="site-sidebar scrollbar-enabled clearfix ps ps--theme_default ps--active-x" data-ps-id="5b6649af-f269-f511-dade-eca86e625e48">
            <!-- Sidebar Menu -->
            
            <nav class="sidebar-nav">
            	
                <ul class="nav in side-menu">
                	
                	<li class="menu-item-has-children  ">

						<a href="javascript:void(0);" class="ripple" style="color: #fb9678;">
                    		<i class="list-icon material-icons">child_friendly</i>
							<span class="hide-menu ">জন্ম তথ্য </span>
                    	</a>

                    	<ul class="list-unstyled sub-menu">

                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/br/book/14/1">
		                    		<span>রেজিস্টার বই </span>
		                    	</a>
                    		</li>
                    		
                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/br/search">
		                    		<span>অনুসন্ধান </span>
		                    	</a>
                    		</li>

							<li class="list-divider"></li>

                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/br/applications/14">
		                    		<span>
		                    			অনলাইন আবেদনপত্র
		                    			<span class="badge badge-border badge-border-inverted bg-primary">
		                    			7
		                    			</span>
		                    		</span>
		                    	</a>
                			</li>
							

                            <li>
                                <a class="ripple" href="http://localhost:8080/bris/admin/br/correction-applications/14">
		                    		<span>
		                    			তথ্য সংশোধন আবেদনপত্র
		                    		</span>
                                </a>
                            </li>

							

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/br/reprint/view/applications/14">
									<span>রিপ্রিন্টের আবেদনপত্র </span>
								</a>
							</li>

							

							<li class="list-divider"></li>

                			<li>
			                	<a class="ripple" href="http://localhost:8080/bris/admin/br/add">
			                	 	<span>নিবন্ধনের জন্য আবেদন</span>
			                	 </a>
	                		</li>

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/br/correction">
									<span>তথ্য সংশোধন আবেদন</span>
								</a>
							</li>

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/br/reprint/add">
									<span class="hide-menu">রিপ্রিন্টের আবেদন করুন </span>
								</a>
							</li>
                		</ul>
                	</li>

                	<li class="menu-item-has-children  ">
                    	<a href="javascript:void(0);" class="ripple" style="color:#55acee">
                    		 <i class="list-icon material-icons">airline_seat_flat</i><span class="hide-menu">মৃত্যু তথ্য</span>
                    	</a>
                    	<ul class="list-unstyled sub-menu ">

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/dr/book/14/1">
									<span>রেজিস্টার বই </span>
								</a>
							</li>
							


                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/dr/search">
		                    		<span>অনুসন্ধান </span>
		                    	</a>
                    		</li>

							<li class="list-divider"></li>

                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/dr/applications/14">
									<span>
										অনলাইন আবেদনপত্র
										<span class="badge badge-border badge-border-inverted bg-primary">
										1
										</span>
									</span>
		                    	</a>
                			</li>

							

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/dr/correction-applications/14">
		                    		<span>
		                    			তথ্য সংশোধন আবেদনপত্র
		                    		</span>
								</a>
							</li>

							


							

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/dr/reprint/view/applications/14">
									<span>রিপ্রিন্টের আবেদনপত্র </span>
								</a>
							</li>

							<li class="list-divider"></li>

                			<li>
			                	<a class="ripple" href="http://localhost:8080/bris/admin/dr/add">
			                	 	<span>নতুন আবেদনপত্র</span>
			                	 </a>
	                		</li>

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/dr/correction">
									<span>তথ্য সংশোধন আবেদন</span>
								</a>
							</li>

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/dr/reprint/add">
									<span>রিপ্রিন্টের আবেদন করুন </span>
								</a>
							</li>

                		</ul>
                	</li>

					<li class="menu-item-has-children  ">
	                	<a href="javascript:void(0);" class="ripple" style="color:#ff5722">
	                	 	 <i class="list-icon material-icons">add</i><span class="hide-menu">এলাকাসমূহ </span>
	                	</a>
	                	<ul class="list-unstyled sub-menu ">
	                		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/geo/search">
		                    		<span>অনুসন্ধান </span>
		                    	</a>
                    		</li>
                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/geo/add">
		                    		<span>নতুন এলাকা নিবন্ধন</span>
		                    	</a>
                    		</li>
	                	</ul>
	                </li>

					<li class=" menu-item-has-children  ">
						<a href="javascript:void(0);" class="ripple">
							<i class="list-icon material-icons">add</i><span class="hide-menu">ফ্যাসিলিটিসমূহ </span>
						</a>
						<ul class="list-unstyled sub-menu ">
							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/user/facility/search">
									<span>অনুসন্ধান </span>
								</a>
							</li>
							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/user/facility/add">
									<span>নতুন ফ্যাসিলিটি নিবন্ধন</span>
								</a>
							</li>
						</ul>
					</li>

					<li class=" menu-item-has-children  ">
						<a href="javascript:void(0);" class="ripple">
							<i class="list-icon material-icons">add</i><span class="hide-menu">অফিসসমূহ </span>
						</a>
						<ul class="list-unstyled sub-menu ">
							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/office/search">
									<span>অনুসন্ধান </span>
								</a>
							</li>
							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/office/add">
									<span>নতুন অফিস নিবন্ধন</span>
								</a>
							</li>
						</ul>
					</li>
	                
					<li class="menu-item-has-children  ">
	                	<a href="javascript:void(0);" class="ripple" style="color:#4caf50">
	                	 	 <i class="list-icon material-icons">perm_contact_calendar</i><span class="hide-menu">ব্যাবহারকারী</span>
	                	 </a>
	                	 <ul class="list-unstyled sub-menu ">
	                		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/user/search">
		                    		<span>অনুসন্ধান </span>
		                    	</a>
                    		</li>
                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/user/add">
		                    		<span>নিবন্ধন</span>
		                    	</a>
                    		</li>
                    	</ul>
	                </li>

					<li class=" menu-item-has-children  ">
	                	<a href="javascript:void(0);" class="ripple" style="color: #ffeb3b;">
	                	 	 <i class="list-icon material-icons">accessibility</i><span class="hide-menu">রোল</span>
	                	 </a>
	                	 <ul class="list-unstyled sub-menu ">
	                		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/role/search">
		                    		<span>অনুসন্ধান </span>
		                    	</a>
                    		</li>
                    		<li>
		                    	<a class="ripple" href="http://localhost:8080/bris/admin/role/add">
		                    		<span>নিবন্ধন</span>
		                    	</a>
                    		</li>
                    	</ul>
	                </li>

	                <li class=" menu-item-has-children  ">
						<a href="javascript:void(0);" class="ripple">
	                	 	 <i class="list-icon material-icons">insert_chart</i><span class="hide-menu">প্রতিবেদন</span>
	                	</a>
	                	<ul class="list-unstyled sub-menu ">

	                	 	<li>
			                	<a class="ripple" href="http://localhost:8080/bris/admin/report">
			                	 	<span>জন্ম ও মৃত্যু সংক্রান্ত</span>
			                	 </a>
	                		</li>

	                		<li>
			                	<a class="ripple" href="http://localhost:8080/bris/admin/report/financial">
			                	 	<span>আর্থিক রিপোর্ট</span>
			                	 </a>
	                		</li>

							 <li>
								 <a class="ripple" href="http://localhost:8080/bris/admin/report/application">
									 <span>আবেদন সংক্রান্ত রিপোর্ট</span>
								 </a>
							 </li>

						</ul>
	                </li>

	                <li class=" ">
	                	<a class="ripple" href="http://localhost:8080/bris/admin/de-duplication/search">
	                	 	 <i class="list-icon material-icons">perm_contact_calendar</i><span class="hide-menu">অনুলিপি প্রতিসারণ </span>
	                	 </a>
	                </li>

					<li class="menu-item-has-children  ">
						<a href="javascript:void(0);" class="ripple">
							<i class="list-icon material-icons">settings</i>
                            <span class="hide-menu">সেটিংস্‌</span>
						</a>
						<ul class="list-unstyled sub-menu menu-item-has-children">
							<li class="menu-item-has-children">
								<a href="javascript:void(0);" class="ripple">
									<span>পেমেন্ট</span>
								</a>
								<ul class="list-unstyled sub-menu ">
									<li>
										<a class="ripple" href="http://localhost:8080/bris/admin/settings/payments/br/view">
											<span>অনুসন্ধান</span>
										</a>
									</li>
									<li>
										<a class="ripple" href="http://localhost:8080/bris/admin/settings/payments/add">
											<span>সংযোজন</span>
										</a>
									</li>
								</ul>
							</li>

							<li>
								<a class="ripple" href="http://localhost:8080/bris/admin/settings/others">
									<span>অন্যান্য</span>
								</a>
							</li>

							<li class="menu-item-has-children">
								<a href="javascript:void(0);" class="ripple">
									<span>সার্টিফিকেট ফরম্যাট </span>
								</a>
								<ul class="list-unstyled sub-menu ">
									<li>
										<a class="ripple" href="http://localhost:8080/bris/admin/certificate/search">
											<span>অনুসন্ধান</span>
										</a>
									</li>
									<li>
										<a class="ripple" href="http://localhost:8080/bris/admin/certificate/add">
											<span>সংযোজন</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
	                </li>
					<li class=" menu-item-has-children">
						<a href="javascript:void(0);" class="ripple">
							<i class="list-icon material-icons">perm_contact_calendar</i><span class="hide-menu">মেনু </span>
						</a>
						<ul class="list-unstyled sub-menu ">
							<li>
								<a class="ripple" href="http://localhost:8080/bris/public/admin/menu/search">
									<span>অনুসন্ধান</span>
								</a>
							</li>
							<li>
								<a class="ripple" href="http://localhost:8080/bris/public/admin/menu/add">
									<span>সংযোজন</span>
								</a>
							</li>
						</ul>
					</li>
					<li class=" menu-item-has-children">
						<a href="javascript:void(0);" class="ripple">
							<i class="list-icon material-icons">perm_contact_calendar</i><span class="hide-menu">পোস্ট</span>
						</a>
						<ul class="list-unstyled sub-menu ">
							<li>
								<a href="javascript:void(0);" class="ripple">
									<span>অনুসন্ধান</span>
								</a>
							</li>
							<li>
								<a class="ripple" href="http://localhost:8080/bris/public/admin/post/add">
									<span>সংযোজন</span>
								</a>
							</li>
						</ul>
					</li>

					<li class="menu-item-has-children  ">
						<a href="http://localhost:8080/bris/admin/message/inbox">
							<i class="list-icon material-icons">message</i>
							<span class="hide-menu">বার্তা</span>
						</a>
					</li>
	                
                </ul>
                <!-- /.side-menu -->
            </nav>
            <!-- /.sidebar-nav -->
        <div class="ps__scrollbar-x-rail" style="width: 59px; left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 37px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></aside>	
	        <!-- /.site-sidebar -->
	        
	        <main class="main-wrapper clearfix" style="min-height: 875px;">
	       
	       		<!-- Page Title Area -->
	            <div class="row page-title clearfix">
	                <div class="page-title-left">
	                    <h5 class="mr-0 mr-r-5">ড্যাশবোর্ড</h5>
	                    
	                </div>
	                <!-- /.page-title-left -->
	                
	                <div class="page-title-right">
	                	Language/ভাষা
	                    <select id="languageSelector">
	                    	<option value="en" selected="selected"> Select </option>
	                    	<option value="bn"> বাংলা </option>
	                    	<option value="en"> Eng </option>
	                    </select>
	                </div>
	                <!-- /.page-title-right -->
	            </div>
            
	            <div class="widget-list">
	            
	            	
                  	
                  	
                                    
	                <div class="row">
	                    
						<!-- widget holders go here -->
                    	<div class="col-md-12 widget-holder">
						   	
						   	<div class="widget-bg">
						   	
							    <div class="widget-body clearfix">

							    	<div class="row">
							    	
							    		<div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-primary text-inverse">
					                            <div class="widget-body">
					                                <div class="widget-counter">
					                                    <h4>নতুন জন্ম নিবন্ধন এর জন্য আবেদন</h4>
					                                    <h3 class="h3"><span class="counter">741</span></h3>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-color-scheme text-inverse">
					                            <div class="widget-body">
					                                <div class="widget-counter">
					                                    <h4>জন্ম সনদ সংশোধনের আবেদন</h4>
					                                    <h3 class="h3"><span class="counter">52</span></h3>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-twitter text-inverse">
					                            <div class="widget-body">
					                                <div class="widget-counter">
					                                    <h4>মৃত্যু সনদ সংশোধনের আবেদন</h4>
					                                    <h3 class="h3"><span class="counter">357</span></h3>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-danger text-inverse">
					                            <div class="widget-body clearfix">
					                                <div class="widget-counter">
					                                    <h4>মৃত্যু সনদ সংশোধনের আবেদন</h4>
					                                    <h3 class="h3"><span class="counter">42</span></h3>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <!-- Second Row -->
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-primary">
					                            <div class="widget-body clearfix">
					                                <div class="widget-counter">
					                                    <h4>চলতি সপ্তাহ</h4>
					                                    <h4 class="h4"><span>জন্ম: </span><span class="counter">72</span></h4>
					                                    <h4 class="h4"><span>মৃত্যু: </span><span class="counter">28</span></h4>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-color-scheme">
					                            <div class="widget-body clearfix">
					                                <div class="widget-counter">
					                                    <h4>চলতি মাস</h4>
					                                    <h4 class="h4"><span>জন্ম: </span><span class="counter">340</span></h4>
					                                    <h4 class="h4"><span>মৃত্যু: </span><span class="counter">252</span></h4>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
					                    <div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-twitter">
					                            <div class="widget-body clearfix">
					                                <div class="widget-counter">
					                                    <h4>চলতি বছর</h4>
					                                    <h4 class="h4"><span>জন্ম: </span><span class="counter">5120</span></h4>
					                                    <h4 class="h4"><span>মৃত্যু: </span><span class="counter">3270</span></h4>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
                    
                    					<div class="col-md-3 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg bg-danger">
					                            <div class="widget-body clearfix">
					                                <div class="widget-counter">
					                                    <h4>সর্বমোট</h4>
					                                    <h4 class="h4"><span>জন্ম: </span><span class="counter">20120</span></h4>
					                                    <h4 class="h4"><span>মৃত্যু: </span><span class="counter">14297</span></h4>
					                                </div>
					                                <!-- /.widget-counter -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    
							    	</div>
							    	
							    	
							    	<div class="row" style="display:none">
					                    <!-- Chart: Registration History -->
					                    <div class="col-md-7 widget-holder widget-full-height">
					                        <div class="widget-bg">
					                            <div class="widget-heading clearfix">
					                                <h5>নতুন জন্ম নিবন্ধন</h5>
					                                <ul class="widget-actions">
					                                    <li class="dropdown">
					                                        <div class="predefinedRanges float-right fs-13 fw-500" style="cursor: pointer"><i class="list-icon material-icons color-danger">fiber_manual_record</i>  <span></span>  <i class="list-icon material-icons">expand_more</i>
					                                        </div>
					                                    </li>
					                                </ul>
					                                <!-- /.widget-actions -->
					                            </div>
					                            <!-- /.widget-heading -->
					                            <div class="widget-body clearfix">
					                                <div class="row">
					                                    
					                                    <div class="col-sm-6 text-right">
					                                        
					                                    </div>
					                                </div>
					                                <!-- /.row -->
					                                <div id="extraAreaMorris" style="height: 280px"></div>
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    <!-- /.widget-holder -->
					                    <!-- Charts: Tasks -->
					                    <div class="col-md-4 col-sm-6 widget-holder widget-full-height">
					                        <div class="widget-bg">
					                            <div class="widget-body clearfix">
					                                <h6 class="mr-t-0 mr-b-5 fw-700">নতুন জন্ম নিবন্ধন</h6>
					                                <p class="text-muted">Calculated in the last 7 days</p>
					                                <div class="row text-center">
					                                    <div class="col-4">
					                                        <div class="progress-stats-round text-center input-has-value">
					                                            <div style="display:inline;width:90px;height:90px;" class="input-has-value"><canvas width="90" height="90"></canvas><input data-plugin="knob" data-width="90" data-height="90" data-bgcolor="#ebeff2" data-fgcolor="#fb9678" data-displayinput="false" value="62" data-readonly="true" data-thickness=".05" style="display: none; width: 0px; visibility: hidden;" readonly="readonly"></div>
					                                            
					                                            <i class="list-icon material-icons color-primary">person_pin</i>
					                                            <h4 class="color-primary mr-tb-10">62%</h4>
					                                            <h6 class="mr-b-5 mr-t-0">পুরুষ</h6>
					                                        </div>
					                                        
					                                    </div>
					                                    <div class="col-4">
					                                        <div class="progress-stats-round text-center input-has-value">
					                                            <div style="display:inline;width:90px;height:90px;" class="input-has-value"><canvas width="90" height="90"></canvas><input data-plugin="knob" data-width="90" data-height="90" data-bgcolor="#ebeff2" data-fgcolor="#03a9f3" data-displayinput="false" value="86" data-readonly="true" data-thickness=".05" style="display: none; width: 0px; visibility: hidden;" readonly="readonly"></div>
					                                            
					                                            <i class="list-icon material-icons color-info">face</i>
					                                            <h4 class="color-info mr-tb-10">86%</h4>
					                                            <h6 class="mr-b-5 mr-t-0">মহিলা</h6>
					                                        </div>
					                                        
					                                    </div>
					                                    <div class="col-4">
					                                        <div class="progress-stats-round text-center input-has-value">
					                                            <div style="display:inline;width:90px;height:90px;" class="input-has-value"><canvas width="90" height="90"></canvas><input data-plugin="knob" data-width="90" data-height="90" data-bgcolor="#ebeff2" data-fgcolor="red" data-displayinput="false" value="12" data-readonly="true" data-thickness=".05" style="display: none; width: 0px; visibility: hidden;" readonly="readonly"></div>
					                                            
					                                            <i class="list-icon material-icons color-primary">merge_type</i>
					                                            <h4 class="color-primary mr-tb-10">12%</h4>
					                                            <h6 class="mr-b-5 mr-t-0">তৃতীয় লিঙ্গ</h6>
					                                        </div>
					                                        
					                                    </div>
					                                </div>
					                                <!-- /.row -->
					                            </div>
					                            <!-- /.widget-body -->
					                        </div>
					                        <!-- /.widget-bg -->
					                    </div>
					                    <!-- /.widget-holder -->
					                </div>
							    	
								</div>
								
							</div>
						</div>
                    
	                </div>
	                <!-- /.row -->
	                
	            </div>
	            <!-- /.widget-list -->
	            
	        </main>
	        <!-- /.main-wrappper -->
	        
	        <!-- Right Sidebar -->
			<!--<section th:replace="components/right-sidebar"></section>-->
			
	        <!-- Chat panel -->
			<!--<section th:replace="components/chat-panel"></section>-->
	        
	    </div>
	    <!-- /.content-wrapper -->
	    
	    <!-- FOOTER -->
		<footer class="footer text-center clearfix">2018 @ LGD, People's Republic of Bangladesh</footer>
		
    </div>
	
	<script src="dashboard_files/jquery_005.js"></script>
	<script src="dashboard_files/bootstrap.js"></script>
	<script src="dashboard_files/material-design.js"></script>
	<script src="dashboard_files/modernizr.js"></script>
    <script src="dashboard_files/metisMenu.js"></script>
    <script src="dashboard_files/perfect-scrollbar.js"></script>
    <script src="dashboard_files/sweetalert2.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>-->
    <script src="dashboard_files/daterangepicker.js"></script>
    <script src="dashboard_files/bootstrap-datepicker.js"></script>
    
    <script src="dashboard_files/jquery_003.js"></script>

    <script src="dashboard_files/moment.js"></script>
    
	<!-- js for charts -->
	<script src="dashboard_files/Chart_002.js"></script>
    <script src="dashboard_files/jquery_004.js"></script>
    <script src="dashboard_files/jquery_002.js"></script>    
    <script src="dashboard_files/Chart.js"></script>
    <script src="dashboard_files/utils.js"></script>
    <script src="dashboard_files/jquery.js"></script>
    <script src="dashboard_files/jquery_006.js"></script>
    <script src="dashboard_files/excanvas.js"></script>
    <script src="dashboard_files/morris.js"></script>
    <script src="dashboard_files/raphael.js"></script>
    
	<script src="dashboard_files/custom.js"></script> 
	<!-- js for charts -->
	  
    <script>
		/*<![CDATA[*/
		
		    var context = '/bris';
		    var languageChangeUrl = '/language/change/';
		    var brBookSearchUrl = '/api/br/book/search';
		    var deduplicationSearchUrl = '/admin/de-duplication/search';

		    var brOnlineApplicationsSearchUrl = '/api/br/applications/search';
		    var brReprintApplicationsSearchUrl = '/api/br/reprint/applications/search';
		    var drReprintApplicationsSearchUrl = '/api/dr/reprint/applications/search';

            var brOnlineCorrectionApplicationsSearchUrl = '/api/br/correction-applications/search';
        	var drOnlineCorrectionApplicationsSearchUrl = '/api/dr/correction-applications/search';

            var brInfoSearchByUbrn = '/api/br/register/search/by-ubrn';
        	var parentProjectionByUbrnAndDobUrl = '/api/br/parent-projection-by-ubrn-and-dob';
            var brInfoSearchByUbrnAndDob = '/api/br/register/search/by-ubrnanddob';
            var drInfoSearchByUbrnAndDob = '/api/dr/register/search/by-ubrnanddob';

		    var drOnlineApplicationsSearchUrl = '/api/dr/applications/search';
		    
		    var birthRecordSearchByUbrnUrl = '/api/br/info/ubrn/';
		    var deathRecordSearchByUdrnAndDodUrl = '/api/dr/info/udrn/';
		    var deathRegisterIdSearhByUdrnAndDod = '/api/dr/deathRegisterId/byUdrnDod';

		    var birthRecordSearchByBirthRecordInfoUrl = '/api/br/info/br-record-info';
        	var deathApplicationStatusSearchByappIdAndDodUrl = '/api/dr/info/status/';
        	var birthApplicationStatusSearchByappIdAndDobUrl = '/api/br/info/status/';
		    var searchGeoLocationByParentGeoIdRestUrl = '/api/geo/parentGeoId';
		    var findOfficeByParentGeoIdRestUrl = '/api/office/find-by-geo-id';

       	 	var geoLocationTextIdHashMapUrl = '/api/geo/geolocation-text-id-hashmap-by-id';

		    var searchLogUrl = '/api/user/log';
		    var searchUserUrl = '/api/user/all';
		    var enableUserUrl = '/api/user/enable';
		    var disableUserUrl = '/api/user/disable';
		    var releaseUserUrl = '/api/user/release';
		    var assignUserUrl = '/api/user/assign';
		    var transferUserUrl = '/api/user/transfer';
        	var alternateLogin = '/api/user/alternate/login';

		    var officeNameByIdUrl = '/api/office/name';
		    
		    var brBookEdit = '/api/br/book/edit';
		    var brBookSearch = '/api/br/book/list/by-office';

			var drBookEdit = '/api/dr/book/edit';
			var drBookSearch = '/api/dr/book/list/by-office';

        	var brCorrectionAppRegisterUrl = '/api/br/correction/application/register';
        	var drCorrectionAppRegisterUrl = '/api/dr/correction/application/register';

        	var brCorrectionAppReceiveUrl = '/api/br/correction/application/receive';
        	var drCorrectionAppReceiveUrl = '/api/dr/correction/application/receive';

		    var brAppRegisterUrl = '/api/br/application/register';
        	var brAppReceiveUrl = '/api/br/application/receive';
		    var brAppRejectUrl = '/api/br/application/reject';
        	var brReprintAppRejectUrl = '/api/br/reprint/application/reject';
        	var brReprintAppReceiveUrl = '/api/br/reprint/application/receive';

        	var brCorrectionAppRejectUrl = '/api/br/correction-application/reject';
        	var drCorrectionAppRejectUrl = '/api/dr/correction-application/reject';

		    var brAppDetailsUrl = '/api/br/applicationDetails';
        	var brCorrectionAppDetailsUrl = '/api/br/correction-application/details';
			var drCorrectionAppDetailsUrl = '/api/dr/correction-application/details';
		    var brAppPayment = '/api/payment/br/new';
        	var brReprintAppPayment = '/api/payment/br/reprint/new';

        	var drBookSearchUrl = '/api/dr/book/search';
        	var drAppPayment = '/api/payment/dr/new';
        	var drReprintAppPayment = '/api/payment/dr/reprint/new';
            var drAppDetailsUrl = '/api/dr/application/details';
            var drAppRegisterUrl = '/api/dr/application/register';
        	var drAppReceiveUrl = '/api/dr/application/receive';
            var drAppRejectUrl = '/api/dr/application/reject';
        	var drReprintAppRejectUrl = '/api/dr/reprint/application/reject';
        	var drReprintAppReceiveUrl = '/api/dr/reprint/application/receive';

            var brRegisterDetailsUrl = '/api/br/birth/details';
		    
		    var getPersonNameBnByUbrnUrl = '/api/br/info/personNameBn';
		    
		    var searchGeoLocationUrl = '/api/geo/search';
		    
		    var addTemplateElementUrl = '/api/certificate/templateElement/add';
		    var editTemplateElementUrl = '/api/certificate/templateElement/edit';

		    var cityCorporationIds = null;
		    var cantonmentIds = null;
		    var bangladeshMissionId = null;

        var divisionText = null;
        var divisionId = null;

        var missionText = null;
        var missionId = null;

        var districtText = null;
        var districtId = null;

        var countryText = null;
        var countryId = null;

        var cityCorporationText = null;
        var cityCorporationId = null;

        var cantonmentText = null;
        var cantonmentId = null;

        var upazilaText = null;
        var upazilaId = null;

        var cityText = null;
        var cityId = null;

        var wardInCityCorporationText = null;
        var wardInCityCorporationId = null;

        var paurasavaOrUnionText = null;
        var paurasavaOrUnionId = null;

        var addressLocationId = null;

        var lastPopulatedGeoLocationElementLevel = null;

		    var csrf = 'c6033015-7cc0-4a0a-be5b-a97429201f87';
			var csrfParamName = '_csrf';
			
			var activeBrChargeUrl = '/api/payment/br/config/active';
			var upcomingBrChargeProjectionUrl = '/api/payment/br/config-projection/upcoming';
			var upcomingBrChargeUrl = '/api/payment/br/config/upcoming';
			var brChargeConfigByIdUrl = '/api/payment/br/config-by-id';

			var settingKeyValUrl = '/api/setting/set';

			var userOfficePermissionUrl = '/api/office/permission';

			var brOnlineApplicationsSearchPageUrl = '/admin/br/applications';
        	var drOnlineApplicationsSearchPageUrl = '/admin/dr/applications';

        	var brOnlineCorrectionApplicationsSearchPageUrl = '/admin/br/correction-applications';
        	var drOnlineCorrectionApplicationsSearchPageUrl = '/admin/dr/correction-applications';

        	var brOnlineReprintApplicationsSearchPageUrl = '/admin/br/reprint/view/applications';
        	var drOnlineReprintApplicationsSearchPageUrl = '/admin/dr/reprint/view/applications';

        	var drApplicationPrintUrl = '/admin/dr/application/print';
        	var brApplicationPrintUrl = '/admin/br/application/print';

        	var personDetailsUrl = '/api/br/application/detailsByBrId';
        	var personDetailsUrlForDeath = '/api/dr/application/detailsByDrId';

        	var sweetAlertTitle = null;
        	var sweetAlertConfirmBtnText = null;
        	var sweetAlertCancelBtnText = null;

        var informationTypeMsg = '\u09A4\u09A5\u09CD\u09AF \u099F\u09BE\u0987\u09AA';
        var informationValMsg = '\u09A4\u09A5\u09CD\u09AF \u09AD\u09CD\u09AF\u09BE\u09B2\u09C1';

        var nameBnMsg = '\u09A8\u09BE\u09AE \u09AC\u09BE\u0982\u09B2\u09BE\u09AF\u09BC';
        var nameEnMsg = '\u09A8\u09BE\u09AE \u0987\u0982\u09B0\u09C7\u099C\u09BF\u09A4\u09C7 ';
        var birthDateMsg = '\u099C\u09A8\u09CD\u09AE \u09A4\u09BE\u09B0\u09BF\u0996 (\u0996\u09CD\u09B0\u09BF\u0983)';
        var thChildMsg = '\u09AA\u09BF\u09A4\u09BE \u0993 \u09AE\u09BE\u09A4\u09BE\u09B0 \u0995\u09A4\u09A4\u09AE \u09B8\u09A8\u09CD\u09A4\u09BE\u09A8';
        var genderMsg = '\u09B2\u09BF\u0999\u09CD\u0997';

        var fatherNameBnMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u09A8\u09BE\u09AE \u09AC\u09BE\u0982\u09B2\u09BE\u09AF\u09BC';
        var fatherNameEnMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u09A8\u09BE\u09AE \u0987\u0982\u09B0\u09C7\u099C\u09BF\u09A4\u09C7';
        var fatherBrnMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u099C\u09A8\u09CD\u09AE \u09A8\u09BF\u09AC\u09A8\u09CD\u09A7\u09A8 \u09A8\u09AE\u09CD\u09AC\u09B0';
        var fatherNidMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u099C\u09BE\u09A4\u09C0\u09DF \u09AA\u09B0\u09BF\u099A\u09DF\u09AA\u09A4\u09CD\u09B0 \u09A8\u09AE\u09CD\u09AC\u09B0';
        var fatherPassportMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u09AA\u09BE\u09B8\u09AA\u09CB\u09B0\u09CD\u099F \u09A8\u09AE\u09CD\u09AC\u09B0';
        var fatherNationalityMsg = '\u09AA\u09BF\u09A4\u09BE\u09B0 \u099C\u09BE\u09A4\u09C0\u09DF\u09A4\u09BE';

        var motherNameBnMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u09A8\u09BE\u09AE \u09AC\u09BE\u0982\u09B2\u09BE\u09DF';
        var motherNameEnMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u09A8\u09BE\u09AE \u0987\u0982\u09B0\u09C7\u099C\u09BF\u09A4\u09C7';
        var motherBrnMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u099C\u09A8\u09CD\u09AE \u09A8\u09BF\u09AC\u09A8\u09CD\u09A7\u09A8 \u09A8\u09AE\u09CD\u09AC\u09B0';
        var motherNidMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u099C\u09BE\u09A4\u09C0\u09DF \u09AA\u09B0\u09BF\u099A\u09DF\u09AA\u09A4\u09CD\u09B0 \u09A8\u09AE\u09CD\u09AC\u09B0';
        var motherPassportMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u09AA\u09BE\u09B8\u09AA\u09CB\u09B0\u09CD\u099F \u09A8\u09AE\u09CD\u09AC\u09B0';
        var motherNationalityMsg = '\u09AE\u09BE\u09A4\u09BE\u09B0 \u099C\u09BE\u09A4\u09C0\u09DF\u09A4\u09BE';

        var phoneMsg = '\u09AB\u09CB\u09A8 \u09A8\u09AE\u09CD\u09AC\u09B0';

        var deathDateMsg = '\u09AE\u09C3\u09A4\u09CD\u09AF\u09C1\u09B0 \u09A4\u09BE\u09B0\u09BF\u0996 (\u0996\u09CD\u09B0\u09BF\u0983)';
        var causeOfDeathMsg = '\u09AE\u09C3\u09A4\u09CD\u09AF\u09C1\u09B0 \u0995\u09BE\u09B0\u09A8';
        var spouseNameMsg = '\u09B8\u09CD\u09AC\u09BE\u09AE\u09C0/\u09B8\u09CD\u09A4\u09CD\u09B0\u09C0\u09B0 \u09A8\u09BE\u09AE';
        var spouseBrnMsg = '\u09B8\u09CD\u09AC\u09BE\u09AE\u09C0/\u09B8\u09CD\u09A4\u09CD\u09B0\u09C0\u09B0  \u099C\u09A8\u09CD\u09AE \u09A8\u09BF\u09AC\u09A8\u09CD\u09A7\u09A8 \u09A8\u09AE\u09CD\u09AC\u09B0';
        var spouseNidMsg = '\u09B8\u09CD\u09AC\u09BE\u09AE\u09C0/\u09B8\u09CD\u09A4\u09CD\u09B0\u09C0\u09B0 \u099C\u09BE\u09A4\u09C0\u09DF \u09AA\u09B0\u09BF\u099A\u09DF\u09AA\u09A4\u09CD\u09B0 \u09A8\u09AE\u09CD\u09AC\u09B0';

		/*]]>*/
	</script>
    
    <script src="dashboard_files/util.js"></script>
    <script src="dashboard_files/language-selector.js"></script>
    
    
    
    

    <script src="dashboard_files/theme.js"></script>


    <script>
        {/*$(document).ready( function(){

            $('#jstree_demo_div').jstree({
                "plugins" : [ "search" ]
            });
        });*/}

        function alternateLoginSuccess( data ) {

            window.location.href = context + "/admin/";
        }

        function alternateLoginError( data ) {

            console.log( data );
        }

        $("#changeOffice").on( "change", function (e) {

            if( confirm( "Are you sure" ) ){

                var param = {};
                param["id"] = $(this).val();
                param[csrfParamName] = csrf;

                callAjax( context + alternateLogin, param, "POST", alternateLoginSuccess, alternateLoginError );
            }
        });
    </script>

	


</body></html>